.search-form {
  height: 87vh;
  max-height: 700px;
  width: 100%;
  background-image: url("../../assets/images/photo-1485871981521-5b1fd3805eee.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 10%;
}
